<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
	</head>
	<body>
		<div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                    <h1>Catálogo de libros</h1>
                    <section class="libros">
                        <div class="buscador">
                            <h3>Buscar</h3>
                            <input type="text" id="myInput" class="buscar" placeholder=". . .">
                        </div>
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Título</th>
                                    <th>Autor</th>
                                    <th>ISBN</th>
                                    <th>Editorial</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% books.forEach(book => { %>
                                    <tr>
                                        <td><%- book.id %></td>
                                        <td><%- book.title %></td>
                                        <td><%- book.author %></td>
                                        <td><%- book.isbn %></td>
                                        <td><%- book.publisher %></td>
                                        <td class="columnaVer">
                                            <a href="/book/<%- book.id %>" class="ver verde" target="_blank">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </td>
                                        <td class="columnaEditar">
                                            <a href="/panel/books/<%- book.id %>/edit" class="editar">
                                                <i class="fa-solid fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td class="columnaEliminar">
                                            <button href="#" class="borrar" data-modal="modal<%- book.id %>">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </section>
                </div>
            </main>
        </div>

        <% books.forEach(book => { %>
            <dialog  data-modal="modal<%- book.id %>">
                <h3>¿Esta seguro que quiere eliminar este libro?</h3>
                <div class="botones">
                    <form method="dialog">
                        <button class="cancelarEliminar">Cancelar</button>
                    </form>
                    <button href="#" class="confirmarEliminar" data-libro="<%- book.id %>">Eliminar</button>
                </div>
            </dialog>
        <% }) %>

        <script>
            const modales = document.querySelectorAll('dialog')

            const botonesBorrar = document.querySelectorAll('.columnaEliminar .borrar')
            const botonesCancelar = document.querySelectorAll('dialog .cancelarEliminar')
            const botonesEliminar = document.querySelectorAll('dialog .confirmarEliminar')

            botonesEliminar.forEach(boton => {
                boton.addEventListener('click', (elem) => {
                    const bookId = boton.getAttribute('data-libro')
                    
                    fetch(`http://localhost:3000/api/v1/book/delete`, 
                        { 
                            method: 'POST', 
                            headers: 
                                { 
                                    'Accept': 'application/json', 
                                    'Content-Type': 'application/json' 
                                }, 
                            body: JSON.stringify({ bookId }) }
                    ).then(response => {
                        if(response.ok) {
                            window.location.reload()
                        }
                    })
                    .catch(err => {
                        console.error(err)
                    })
                })
            })

            botonesBorrar.forEach(boton => {
                boton.addEventListener('click', (elem) => {
                    const modalId = boton.getAttribute('data-modal')

                    verificarModal({ botonId: modalId })
                })
            })

            const verificarModal = ({ botonId }) => {
                modales.forEach(modal => {
                    const modalId = modal.getAttribute('data-modal')

                    if(botonId == modalId) {
                        modal.showModal()
                    }
                })
            }







            var input, filter, table, tr, td, id, i, txtValue;
            input = document.getElementById("myInput");

            input.addEventListener("keyup", () => {
              myFunction()
            });

            function myFunction() {
              // Declare variables
              
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }

        </script>

        <script src="js/cambiarTema.js"></script>
	</body>
</html>
