<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
	</head>
	<body>
		<div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                   <h1>Editar Libro</h1>
                    <form class="editarLibroContainer" action="/panel/books/<%- book.id %>/edit" method="POST" enctype="multipart/form-data">

                        <!-- Imagen a un costado -->
                        <div class="portada">
                            <figure>
                                <img id="imagen" src="<%- book.image %>" alt="">
                            </figure>
                            <input type="file" id="imagenInput" name="image">
                        </div>

                        <!-- Formulario en el otro costado -->
                        <div class="datos">
                            <div class="row">
                                <div class="columna">
                                    <h4>Titulo</h4>
                                    <input type="text" value="<%- book.title %>" placeholder="..." name="title">
                                    <h4>Autor</h4>
                                    <input type="text" value="<%- book.author %>" placeholder="..." name="author">
                                    <h4>ISBN</h4>
                                    <input type="text" value="<%- book.isbn %>" placeholder="..." name="isbn">
                                    <h4>Publicación</h4>
                                    <input type="date" value="<%- book.date %>" placeholder="..." name="date">
                                </div>
                                <div class="columna">
                                    <h4>Cantidad de paginas</h4>
                                    <input type="text" value="<%- book.pages %>" placeholder="..." name="pages">
                                    <h4>Idioma</h4>
                                    <input type="text" value="<%- book.language %>" placeholder="..." name="language">
                                    <h4>Editorial</h4>
                                    <input type="text" value="<%- book.publisher %>" placeholder="..." name="publisher">
                                    <h4>Estado</h4>
                                    <select name="state">
                                        <option value="disponible">Disponible</option>
                                        <option value="prestado">Prestado</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Sinopsis</h4>
                            <textarea name="synopsis" class="sinopsis"><%- book.synopsis %></textarea>
                            <h4>PDF Link</h4>
                            <input type="text" value="<%- book.pdf %>" placeholder="..." name="pdfLink">
                            <h4>Categorías</h4>
                            <div class="categorias">
                                <div>
                                    <div class="categoria">
                                        <label>Ficción</label>
                                        <% if(book.genres.find(genre => genre.id == 1)) { %>
                                            <input type="checkbox" id="ficcion" name="categories" value="1" checked>                         
                                       <% } else { %>
                                            <input type="checkbox" id="ficcion" name="categories" value="1">                         
                                        <%}%>                      
                                    </div>

                                    <div class="categoria">
                                        <label for="no_ficcion">No Ficción</label>
                                        <% if(book.genres.find(genre => genre.id == 2)) { %>
                                            <input type="checkbox" id="no_ficcion" name="categories" value="2" checked>   
                                       <% } else { %>
                                            <input type="checkbox" id="no_ficcion" name="categories" value="2">   
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="ciencia">Ciencia</label>
                                        <% if(book.genres.find(genre => genre.id == 3)) { %>
                                            <input type="checkbox" id="ciencia" name="categories" value="3" checked>                                 
                                       <% } else { %>
                                            <input type="checkbox" id="ciencia" name="categories" value="3">                                 
                                        <%}%>
                                    </div>
                                        
                                    <div class="categoria">
                                        <label for="historia">Historia</label>
                                        <% if(book.genres.find(genre => genre.id == 4)) { %>
                                            <input type="checkbox" id="historia" name="categories" value="4" checked>                               
                                       <% } else { %>
                                            <input type="checkbox" id="historia" name="categories" value="4">                               
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="romantico">Romántico</label>
                                        <% if(book.genres.find(genre => genre.id == 5)) { %>
                                            <input type="checkbox" id="romantico" name="categories" value="5" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="romantico" name="categories" value="5">
                                        <%}%>
                                    </div>
                                </div>
                                
                                <div>
                                    <div class="categoria">
                                        <label for="thriller">Thriller</label>
                                        <% if(book.genres.find(genre => genre.id == 6)) { %>
                                            <input type="checkbox" id="thriller" name="categories" value="6" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="thriller" name="categories" value="6">
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="fantastico">Fantástico</label>
                                        <% if(book.genres.find(genre => genre.id == 7)) { %>
                                            <input type="checkbox" id="fantastico" name="categories" value="7" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="fantastico" name="categories" value="7">
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="biografia">Biografía</label>
                                        <% if(book.genres.find(genre => genre.id == 8)) { %>
                                            <input type="checkbox" id="biografia" name="categories" value="8" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="biografia" name="categories" value="8">
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="tecnologia">Tecnología</label>
                                        <% if(book.genres.find(genre => genre.id == 9)) { %>
                                            <input type="checkbox" id="tecnologia" name="categories" value="9" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="tecnologia" name="categories" value="9">
                                        <%}%>
                                    </div>

                                    <div class="categoria">
                                        <label for="cultura">Cultura</label>
                                        <% if(book.genres.find(genre => genre.id == 10)) { %>
                                        <input type="checkbox" id="cultura" name="categories" value="10" checked>
                                        <% } else { %>
                                            <input type="checkbox" id="cultura" name="categories" value="10">
                                        <%}%>
                                    </div>
                                </div> 
                                <div>
                                    <div class="categoria">
                                        <label for="misterio">Misterio</label>
                                        <% if(book.genres.find(genre => genre.id == 11)) { %>
                                            <input type="checkbox" id="misterio" name="categories" value="11" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="misterio" name="categories" value="11">
                                        <%}%>
                                    </div>
    
                                    <div class="categoria">
                                        <label for="aventura">Aventura</label>
                                        <% if(book.genres.find(genre => genre.id == 12)) { %>
                                            <input type="checkbox" id="aventura" name="categories" value="12" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="aventura" name="categories" value="12">
                                        <%}%>
                                    </div>
    
                                    <div class="categoria">
                                        <label for="infantil">Infantil</label>
                                        <% if(book.genres.find(genre => genre.id == 13)) { %>
                                            <input type="checkbox" id="infantil" name="categories" value="13" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="infantil" name="categories" value="13">
                                        <%}%>
                                    </div>
    
                                    <div class="categoria">
                                        <label for="juvenil">Juvenil</label>
                                        <% if(book.genres.find(genre => genre.id == 14)) { %>
                                            <input type="checkbox" id="juvenil" name="categories" value="14" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="juvenil" name="categories" value="14">
                                        <%}%>
                                    </div>
    
                                    <div class="categoria">
                                        <label for="clasico">Clásico</label>
                                        <% if(book.genres.find(genre => genre.id == 15)) { %>
                                            <input type="checkbox" id="clasico" name="categories" value="15" checked>
                                       <% } else { %>
                                            <input type="checkbox" id="clasico" name="categories" value="15">
                                        <%}%>
                                    </div>
                               </div>
                            </div>
                            
                            <div class="botones">
                                <a href="/panel/books">Cancelar</a>
                                <button type="submit">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        <script src="js/cambiarTema.js"></script>
	</body>
</html>

<script src="js/previsualizarImagen.js"></script>