<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
	</head>
	<body>
		<div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                   <h1>Editar Libro</h1>
                    <form class="editarLibroContainer" action="/panel/books/<%- book.id %>/edit" method="POST" enctype="multipart/form-data">

                        <!-- Imagen a un costado -->
                        <div class="portada">
                            <figure>
                                <img id="imagen" src="<%- book.image %>" alt="">
                            </figure>
                            <input type="file" id="imagenInput" name="image">
                        </div>

                        <!-- Formulario en el otro costado -->
                        <div class="datos">
                            <div class="row">
                                <div class="columna">
                                    <h4>Titulo</h4>
                                    <input type="text" value="<%- book.title %>" placeholder="..." name="title">
                                    <h4>Autor</h4>
                                    <input type="text" value="<%- book.author %>" placeholder="..." name="author">
                                    <h4>ISBN</h4>
                                    <input type="text" value="<%- book.isbn %>" placeholder="..." name="isbn">
                                </div>
                                <div class="columna">
                                    <h4>Cantidad de paginas</h4>
                                    <input type="text" value="<%- book.pages %>" placeholder="..." name="pages">
                                    <h4>Idioma</h4>
                                    <input type="text" value="<%- book.language %>" placeholder="..." name="language">
                                    <h4>Estado</h4>
                                    <select name="state">
                                        <option value="disponible">Disponible</option>
                                        <option value="prestado">Prestado</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Sinopsis</h4>
                            <textarea name="synopsis" class="sinopsis"><%- book.synopsis %></textarea>
                            <div class="botones">
                                <a href="/panel/books">Cancelar</a>
                                <button type="submit">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        <script src="js/cambiarTema.js"></script>
	</body>
</html>

<script src="js/previsualizarImagen.js"></script>