<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
		<script
			type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"
			type="module"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!--These jQuery libraries for  
           chosen need to be included-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css"
		/>

		<!--These jQuery libraries for select2  
            need to be included-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"
		/>

		<script type="module">
			const tortaVisitas = document.querySelector("#visited");
			const tortaGustados = document.querySelector("#liked");

			let librosVisitas = tortaVisitas.getAttribute("data-labels").split(",");
			let visitas = tortaVisitas.getAttribute("data-values").split(",");

			let librosGustados = tortaGustados.getAttribute("data-labels").split(",");
			let gustados = tortaGustados.getAttribute("data-values").split(",");

			const colors_3 = [
				"rgb(69,177,223)",
				"rgb(99,201,122)",
				"rgb(203,82,82)",
			];

			let dataTortaGustados = {
				labels: librosGustados,
				datasets: [
					{
						data: gustados,
						backgroundColor: colors_3,
					},
				],
			}

			let dataTortaVisitas = {
				labels: librosVisitas,
				datasets: [
					{
						data: visitas,
						backgroundColor: colors_3,
					},
				],
			};

			let configTortaGustados = {
				type: "pie",
				data: dataTortaGustados,
				options: {
					animation: false,
				},
			}

			let configTortaVisitas = {
				type: "pie",
				data: dataTortaVisitas,
				options: {
					animation: false,
				},
			};

			let chartGustados = new Chart(tortaGustados, configTortaGustados);
			let chartVisitas = new Chart(tortaVisitas, configTortaVisitas);

			import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

			const socket = io();

			socket.on("add visit", async (data) => {
				updateVisitsChart()
			});

			socket.on("add like", async (data) => {
				updateLikesChart()
			})
			socket.on("remove like", async (data) => {
				updateLikesChart()
			})

			async function updateVisitsChart() {
				const visits = await (
					await fetch(
						`http://localhost:3000/api/v1/books/visited?limit=3`,
						{ method: "GET" }
					)
				).json();

				const mostVisitedTitles = visits.map((visit) => visit.title);
				const mostVisitedVisits = visits.map((visit) => visit.visits);

				tortaVisitas.setAttribute("data-labels", mostVisitedTitles.join(","));
				tortaVisitas.setAttribute("data-values", mostVisitedVisits.join(","));

				librosVisitas = tortaVisitas.getAttribute("data-labels").split(",");
				visitas = tortaVisitas.getAttribute("data-values").split(",");

				dataTortaVisitas = {
					labels: librosVisitas,
					datasets: [
						{
							data: visitas,
							backgroundColor: colors_3,
						},
					],
				};

				configTortaVisitas = {
					type: "pie",
					data: dataTortaVisitas,
					options: {
						animation: false,
					},
				};

				if (chartVisitas) {
					chartVisitas.destroy();
				}

				chartVisitas = new Chart(tortaVisitas, configTortaVisitas);
			}

			async function updateLikesChart() {
				const likes = await (
					await fetch(
						`http://localhost:3000/api/v1/books/liked?limit=3`,
						{ method: "GET" }
					)
				).json();

				const mostLikedTitles = likes.map((like) => like.title);
				const mostLikedLikes = likes.map((like) => like.likes);

				tortaGustados.setAttribute("data-labels", mostLikedTitles.join(","));
				tortaGustados.setAttribute("data-values", mostLikedLikes.join(","));

				librosGustados = tortaGustados.getAttribute("data-labels").split(",");
				gustados = tortaGustados.getAttribute("data-values").split(",");

				dataTortaGustados = {
					labels: librosGustados,
					datasets: [
						{
							data: gustados,
							backgroundColor: colors_3,
						},
					],
				};

				configTortaGustados = {
					type: "pie",
					data: dataTortaGustados,
					options: {
						animation: false,
					},
				};

				if(chartGustados) {
					chartGustados.destroy()
				}

				chartGustados = new Chart(tortaGustados, configTortaGustados)
			}
		</script>
	</head>
	<body>
		<div class="panel">
			<%- include('../partials/admin/sidebar.ejs') %>
			<main class="contenedor">
				<%- include('../partials/admin/navbar.ejs') %>
				<h1>Estadísticas</h1>
				<div class="editUserContainer estadisticas">
					<div class="visitas">
						<h3>Los tres libros mas vistos.</h3>
						<canvas
							id="visited"
							data-labels="<%- mostVisited.titles %>"
							data-values="<%- mostVisited.visits %>"
						></canvas>
					</div>
					<div class="gustados">
						<h3>Los tres libros más gustados.</h3>
						<canvas
							id="liked"
							data-labels="<%- mostLiked.titles %>"
							data-values="<%- mostLiked.likes %>"
						></canvas>
					</div>
				</div>
				<div class="editUserContainer estadisticas">
					<div class="libroVisitas">
                        <select class="bookSelect" name="book">
                            <% books.allVisited.forEach(book => { %>
                            <option value="<%- book.title %>" data-bookId="<%- book.id %>">
                                <%- book.title %>
                            </option>
                            <% }) %>
                        </select>
                        <canvas id="visitas"></canvas>
                    </div>
				</div>
			</main>
		</div>

		<script>
			$(document).ready(() => {
				$(".bookSelect").select2();
			});
		</script>

		<script>
			const labels = [
				"Lunes",
				"Martes",
				"Miércoles",
				"Jueves",
				"Viernes",
				"Sábado",
				"Domingo",
			];

            const graph = document.querySelector("#visitas");
            const select = document.querySelector(".bookSelect");

            let dataset1 = {
				label: "Visitas",
				data: [234, 163, 453, 123, 234, 123, 453],
				borderColor: "rgba(248, 37, 37, 0.8)",
				fill: true,
				tension: 0.3,
			};

			let data = {
				labels: labels,
				datasets: [dataset1],
			};

			let config = {
				type: "line",
				data: data,
                animation: false
			};
            
            let visitasGrafico = new Chart(graph, config);

            $(document).ready(function() {
                $('.bookSelect').on('change', async function() {
                    // Id del libro
                    const id = $(this).find(':selected').data('bookid');
                    
                    const fetchData = await ( await fetch(`http://localhost:3000/api/v1/books/weekly/visits?id=${id}`, { method: "GET" } )).json()

                    const visits = fetchData.map(visit => visit.visits);

                    dataset1.data = visits;
                    data.datasets[0] = dataset1;
                    config.data = data;

                    visitasGrafico.destroy();

                    visitasGrafico = new Chart(graph, config);
                });
            });

			
		</script>

		<script>
			const labels_2 = [
				"Lunes",
				"Martes",
				"Miércoles",
				"Jueves",
				"Viernes",
				"Sábado",
				"Domingo",
			];

			const dataset1_2 = {
				label: "Gustados",
				data: [234, 163, 453, 123, 234, 123, 453],
				borderColor: "rgba(100, 500, 37, 0.8)",
				fill: true,
				tension: 0.3,
			};

			const graph_2 = document.querySelector("#gustados");

			const data_2 = {
				labels: labels_2,
				datasets: [dataset1_2],
			};

			const config_2 = {
				type: "line",
				data: data_2,
			};

			new Chart(graph_2, config_2);
		</script>

		<script src="js/cambiarTema.js"></script>
	</body>
</html>
