<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
	</head>
	<body>
		<div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                    <h1>Usuarios</h1>
                    <div class="usuarios">
                        <% users.forEach(user => { %>
                            <div class="usuario">
                                <div class="info">
                                    <figure>
                                        <img src="<%- user.Imagen %>" alt="<%- user.Nombre %>">
                                    </figure>
                                    <div class="data">
                                        <p>ID: <%- user.UsuarioID %></p>
                                        <p>Nombre: <%- user.Nombre %></p>  
                                        <p>Correo: <%- user.CorreoElectronico %></p>
                                        <p>Rol: <%- user.RollID %></p>
                                    </div>
                                </div>
                                <div class="acciones">
                                    <a href="/profile/<%- user.UsuarioID %>" class="boton ver" target="_blank">Ver perfil</a>
                                    <!--<a href="/panel/users/edit/<%- user.UsuarioID %>" class="boton edita">Editar</a>-->
                                    <button href="#" data-userId="<%- user.UsuarioID %>" class="boton eliminar">Eliminar</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </main>
        </div>
        <script>
            const botones = document.querySelectorAll('.eliminar')
            botones.forEach(boton => {
                boton.addEventListener('click', async (e) => {
                    const userId = boton.getAttribute('data-userId')

                    const response = await fetch('http://localhost:3000/api/v1/user/delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({ userId })
                    })
                    
                    if(response.ok)
                        return window.location.reload()

                    const { error } = await response.json()
                    console.error(error)
                })
            })
        </script>

        <script src="js/cambiarTema.js"></script>
	</body>
</html>
