<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin/head.ejs') %>
    </head>
    <body>
        <div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                    <h1>Usuarios</h1>
                    <div class="usuarios">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Foto de perfil</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                    <th>Ver perfil</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(userInfo => { %>
                                    <tr>
                                        <td><%- userInfo.id %></td>
                                        <td class="imagen"><img class="img-perfil" src="<%- userInfo.image %>" alt="<%- userInfo.username %>"></td>
                                        <td><%- userInfo.username %></td>
                                        <td><%- userInfo.email %></td>
                                        <% if (userInfo.roleId == 1) { %>
                                            <td>Usuario</td>
                                        <% } else if (userInfo.roleId == 2) { %>
                                            <td>Moderador</td>
                                        <% } else if (userInfo.roleId == 3) { %>
                                            <td>Administrador</td>
                                        <% } else if (userInfo.roleId == 4) { %>
                                            <td>Propietario</td>
                                        <% } %>
                                        <td>
                                            <a href="/profile/<%- userInfo.id %>" class="editar verde" target="_blank">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button href="#" data-userId="<%- userInfo.id %>" class="borrar">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
        <script>
            const botones = document.querySelectorAll('.borrar')
            botones.forEach(boton => {
                boton.addEventListener('click', async (e) => {
                    const userId = boton.getAttribute('data-userId')

                    const response = await fetch('http://localhost:3000/api/v1/user/delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({ userId })
                    })
                    
                    if(response.ok)
                        return window.location.reload()

                    const { error } = await response.json()
                    console.error(error)
                })
            })
        </script>

        <script src="js/cambiarTema.js"></script>
    </body>
</html>
