<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/admin/head.ejs') %>
    </head>
    <body>
        <div class="panel">
            <%- include('../partials/admin/sidebar.ejs') %>
            <main>
                <%- include('../partials/admin/navbar.ejs') %>
                <div class="contenedor">
                    <h1>Usuarios</h1>
                    <div class="usuarios">
                        <% users.forEach(userInfo => { %>
                            <div class="usuario">
                                <div class="info">
                                    <figure>
                                        <img src="<%- userInfo.image %>" alt="<%- userInfo.username %>">
                                    </figure>
                                    <div class="data">
                                        <p>ID: <%- userInfo.id %></p>
                                        <p>Nombre: <%- userInfo.title %></p>  
                                        <p>Correo: <%- userInfo.email %></p>
                                        <% if (userInfo.roleId == 1) { %>
                                            <p>Rol: Usuario</p>
                                        <% } else if (userInfo.roleId == 2) { %>
                                            <p>Rol: Moderador</p>
                                        <% } else if (userInfo.roleId == 3) { %>
                                            <p>Rol: Administrador</p>
                                        <% } else if (userInfo.roleId == 4) { %>
                                            <p>Rol: Propietario</p>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="acciones">
                                    <!--<a href="/profile/<%- user.UsuarioID %>" class="boton ver" target="_blank">Ver perfil</a>-->
                                    <!--<a href="/panel/users/edit/<%- user.UsuarioID %>" class="boton edita">Editar</a>-->
                                    <button href="#" data-userId="<%- userInfo.id %>" class="boton eliminar">Eliminar</button>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </main>
        </div>
        <script>
            const botones = document.querySelectorAll('.eliminar')
            botones.forEach(boton => {
                boton.addEventListener('click', async (e) => {
                    const userId = boton.getAttribute('data-userId')

                    const response = await fetch('http://localhost:3000/api/v1/user/delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({ userId })
                    })
                    
                    if(response.ok)
                        return window.location.reload()

                    const { error } = await response.json()
                    console.error(error)
                })
            })
        </script>

        <script src="js/cambiarTema.js"></script>
    </body>
</html>
