<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <main class="editContainer">
        <h2>Editar perfil</h2>
        <form action="/profile/edit" method="POST" enctype="multipart/form-data">
            <article class="info">
                <div class="image">
                    <figure>
                        <img src="<%- userProfile.image %>" id="imagen" alt="<%- userProfile.username %>" loading="lazy">
                    </figure>
                    <input type="file" name="image" id="imagenInput">
                </div>
                <h3>Tus datos</h3>
                <p>Nombre: <span><%- userProfile.username %></span></p>
                <p>Correo: <span><%- userProfile.email %></span></p>
            </article>
            <article class="data">
                <h3>Nombre de usuario</h3>
                <input type="text" name="username" value="<%- userProfile.username %>" placeholder=". . .">
                <h3>Correo electronico</h3>
                <input type="email" name="email" value="<%- userProfile.email %>" placeholder=". . .">
                <div class="changePassword">
                    <h3 class="title">Cambiar contrase単a</h3>
                    <div class="row">
                        <h3>Actual</h3>
                        <input type="password" name="actualPassword" placeholder="Contrase単a actual">
                    </div>
                    <div class="row">
                        <h3>Nueva</h3>
                        <input type="password" name="newPassword" placeholder="Nueva contrase単a">
                    </div>
                    <div class="row">
                        <h3>Confirmar</h3>
                        <input type="password" name="confirmPassword" placeholder="Confirmar contrase単a">
                    </div>
                </div>
                <div class="buttons">
                    <a href="/profile/<%- userProfile.id %>">Cancelar</a>
                    <button type="submit">Editar</button>
                </div>
            </article>
        </form>
    </main>
    <footer class="footerContainer">
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="js/cambiarTema.js"></script>
    <script src="js/previsualizarImagen.js"></script>
</body>
</html>

