<!DOCTYPE html>
<html lang="en" data-userId="<%- user.userId %>">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <main class="perfil">
        <section class="info">
            <img src="<%- user.image %>">
            <h3><%- user.username %></h3>
        </section>
        <section class="libros">
            <article>
                <h2>Todos mis favoritos</h2>
                <div class="librosContenedor" id="libros" data-bookType="favorite">
                    <% if(books.length == 0) {%>
                        <p style="text-align: left;">No tienes libros en esta lista.</p>
                    <% } else {%>
                        <% books.forEach(book => {%>
                            <div class="libro">
                                <figure>
                                    <a href="/book/<%- book.LibroID %>">
                                        <img src="<%- book.imagen %>" alt="<%- book.Titulo %>">
                                    </a>
                                    <div class="acciones">
                                        <i class="fa-solid fa-x borrar" data-bookId="<%- book.LibroID %>"></i>
                                    </div>
                                </figure>
                                <a href="/book/<%- book.LibroID %>">
                                    <p><%- book.Titulo %></p>
                                </a>
                            </div>
                        <%})%>
                    <% } %>
                </div>
            </article>
        </section>
    </main>
    <footer class="footerContainer">
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="js/profile.js"></script>
</body>
</html>