<!DOCTYPE html>
<html lang="en" data-bookId="<%- book.id %>" data-userId="<%- user.userId %>">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>
    <div class="wrapper">
      <main class="libroContainer">
        <div class="libroIndividual">
            <figure>
                <img src="<%- book.image %>">

                <%  if(user.role == 'admin') { %>
                  <!-- Botón para editar el libro -->

                  <a href="/panel/books/<%- book.id %>/edit" class="editar-libro-btn">Editar Libro</a>
                <% } %>
            </figure>
            <div class="info">
                <h1><%- book.title %></h1>
                <h4>Sinopsis</h4>
                <p><%- book.synopsis %></p>
                <h4>Idioma</h4>
                <p><%- book.language %></p>
                <h4>Paginas</h4>
                <p><%- book.pages %> en total</p>
                <h4>Géneros</h4>
                <div class="generos">
                    <% book.genres.forEach(genre => { %>
                      <a href="/catalog?genre=<%- genre.id %>">
                        <span class="genero"><%- genre.name %></span>
                      </a>
                    <%})%>
                </div>      
            </div>
        </div>
        <div class="notificacion" id="notificacion">
          <i class="fa-solid fa-x"></i>
          <p>Este libro ya esta añadido a tu lista de ver luego.</p>
        </div>
        <div class="acciones">
          <div class="accion" id="espera">
            <i class="fa-solid fa-star"></i>
            <p>Ver luego</p>
          </div>
          <div class="accion" id="gustado">
            <i class="fa-solid fa-heart"></i>
            <p>Me gusta</p>
          </div>
          <div class="accion" id="favorito">
            <i class="fa-solid fa-check"></i>
            <p>Favorito</p>
          </div>
        </div>
        <iframe class="pdf" src="<%- book.pdfLink %>" frameborder="0"></iframe>
        <section class="comentarios">
          <h2>Comentarios</h2>
          <div id="comentario">
            <textarea name="comentario" id="texto" placeholder="Tú opinion..."></textarea>
            <p class="error hidden" id="commentError">Escribe algo en el recuadro...</p>
            <div class="botones">
              <button type="submit" id="enviarComentario">Comentar</button>
            </div>
          </div>
          <hr>
          <div class="todo">
            <% comments.forEach(comment => { %>
              <div class="comentario">
                <div class="usuario">
                  <a href="/profile/<%- comment.user.id %>">
                    <img src="<%- comment.user.image %>" alt="<%- comment.user.name %>">
                    <p><%- comment.user.username %> </p>
                  </a>
                  <span class="date"><%- format(comment.date) %></span>
                  <% if(user.role == 'admin' || user.role == 'mod' || user.userId == comment.user.id) { %>
                    <div class="modAcciones">
                      <i class="fa-solid fa-x borrar" data-commentId="<%- comment.id %>"></i>
                    </div>
                  <% } %>
                </div>
                <div class="texto">
                  <p><%- comment.comment %></p>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
    </main>
    <footer class="footerContainer">
      <%- include('partials/footer.ejs') %>
    </footer>
    </div>
    <script src="js/book.js"></script>
  </body>
</html>
