<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('partials/navbar.ejs') %>
    </header>
    <div class="wrapper">
      <main class="catalogo-container">
        <section class="busqueda">
          <h3>Buscar obra...</h3>
          <form action="/catalog" method="GET">
            <div class="barraBusqueda">
              <input type="text" name="title" placeholder="Titulo...">
              <button type="submit">Buscar</button>
              <a href="/catalog" class="recargar">
                <img src="/img/recargar.png" alt="Recargar">
              </a>
            </div>
            <div class="filtro" style="display: flex;" id="filtro">

              <!--

                TODO: A침adir filtros (Genero, Cantidad de paginas, Idioma, Editorial, etc)
                TODO: Arreglar tama침o de los selects

              -->

              <div>
                <p>Genero</p>
                <select name="genre">
                  <option value="off">Seleccionar</option>
                  <% categories.forEach(categorie => { %> 
                      <option value="<%- categorie.id %>">
                        <%- categorie.name %>
                      </option>
                  <% }) %>
                </select>
              </div>
              <div>
                <p>Autor</p>
                <input type="text" name="author" placeholder=". . .">
              </div>
              <div>
                <p>A침o de publicaci칩n</p>
                <input type="number" name="date" placeholder=". . .">
              </div>
            </div>
            <p id="menuTitle">Busqueda avanzada <i class="fa-solid fa-caret-down"></i></p>
          </form>
        </section>
        <h2>Libros disponibles</h2>
        <div class="catalogo">
          <% if(books.length > 0) {%>
            <% books.forEach(book => { %>
              <div class="serie">
                <figure>
                  <a href="/book/<%- book.id %>">
                    <img src="<%- book.image %>" alt="<%- book.title %>" loading="lazy"/>
                  </a>
                </figure>
                <div class="title">
                  <a href="/book/<%- book.id %>"><%- book.title %></a>
                </div>
              </div>
            <% })%>
          <% } else { %>
            <h2 class="mensajeError">No hemos encontrado nada...</h2>
          <% } %>
        </div>
      </main>
      <footer class="footerContainer">
        <%- include('partials/footer.ejs') %>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#filtro').hide()

            $('.catalogo-container #menuTitle').click(function(){
              $('#filtro').toggle(350)
            });
        });
    </script>
  </body>
</html>
