<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <%- include('partials/navbar.ejs') %>
    </header>
    <div class="wrapper">
      <section class="slider">
        <div class="swiffy-slider slider-nav-autohide slider-nav-autoplay slider-nav-autopause slider-item-snapstart">
          <ul class="slider-container" style="overflow-x: none;">
            <% mostVisited.forEach(book => { %>
              <a href="/book/<%- book.LibroID %>">
                <li>
                  <div class="texto">
                    <h3><%- book.Titulo %></h3>
                    <p><%- book.Sinopsis %></p>
                  </div>
                  <img src="<%- book.imagen %>" alt="<%- book.Titulo %>">
                </li>
              </a>
            <% })%>
          </ul>
          <div class="slider-indicators">
              <% mostVisited.forEach(book => { %>
                <button></button>
              <% }) %>
          </div>
        </div>
        <div class="historial">
          <h2>Historial</h2>
          <% if(userRecord.length > 0) { %>
            <div class="historialContenedor">
              <% userRecord.forEach(book => { %>
                <a class="historialItem" href="/book/<%- book.LibroID %>">
                  <figure>
                    <img src="<%- book.imagen %>" alt="<%- book.Titulo %>">
                  </figure>
                  <p><%- book.Titulo %></p>
                </a>
              <% }) %>
            </div>
          <% } else { %>
            <p style="text-align: center;">No tienes historial de libros</p>
          <% } %>
        </div>
      </section>
      <main class="container">
        <section>
          <h2>Libros más vistos</h2>
          <div class="series" id="series">
            <% recents.forEach(book => { %>
              <div class="serie">
                <figure>
                  <a href="/book/<%- book.LibroID %>"><img src="<%- book.imagen %>" alt="<%- book.Titulo %>"/></a>
                </figure>
                <div class="title">
                  <a href="/book/<%- book.LibroID %>"><%- book.Titulo %></a>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
        <section>
          <h2 class="centrar">Populares</h2>
          <div class="populares">
            <% mostLiked.forEach(book => { %>
              <a href="/book/<%- book.LibroID %>">
                <div class="popular">
                  <h3><%- book.Titulo %></h3>
                  <figure>
                    <img
                      src="<%- book.imagen %>"
                      alt="<%- book.Titulo %>"
                    />
                  </figure>
                </div>
              </a>
            <% })%>
          </div>
        </section>
      </main>
      <footer class="footerContainer">
        <%- include('partials/footer.ejs') %>
      </footer>
    </div>
  </body>
  <script src="js/dropdown.js"></script>
</html>
