<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('partials/head.ejs') %>
		<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable/build/umd/index.min.js"></script>
	</head>
	<body>
		<header><%- include('partials/navbar.ejs') %></header>
		<div class="wrapper">
			<main class="libroContainer uploadChapter">
				<h2>Subir capítulo</h2>
				<form
					action="/book/<%- bookId %>/chapters/upload"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="fila">
						<div>
							<h4>Nombre del capitulo</h4>
							<input type="text" name="chapterTitle" placeholder=". . ." />
						</div>
						
						<div>
							<h4>Número del capitulo</h4>
							<input type="number" name="chapterNumber" placeholder=". . ." />
							<% if(typeof errors != 'undefined') { %>
								<% const error = errors.find(error => error.path == 'chapterNumber') %>
								<% if(error) { %>
									<p class="error" id="titleError">
										<%- error.msg %>
									</p>
								<% } %>
							<% } %>
						</div>
					</div>

					<div class="fila">
						<h4>Imagenes</h4>
						<input
							type="file"
							name="originalImages"
							id="input-file"
							multiple
						/>
					</div>

					<div id="zone-drop"></div>

					<div class="fila">
						<a href="/book/<%- bookId %>" class="cancelar">Cancelar</a>
						<button class="subirImagenes" type="submit">Subir</button>
					</div>
				</form>
			</main>

			<footer class="footerContainer">
				<%- include('partials/footer.ejs') %>
			</footer>
		</div>

		<script>
			const input = document.querySelector("#input-file");
			let files = [];

			input.addEventListener("change", (e) => {
				files = e.target.files;
				renderFiles();
			});

			function updateFileArray({ array, old_index, new_index }) {
				array = Array.from(array);

				if (new_index >= array.length) {
					var k = new_index - array.length + 1;
					while (k--) {
						array.push(undefined);
					}
				}
				array.splice(new_index, 0, array.splice(old_index, 1)[0]);

				let dataTransfer = new DataTransfer();
				array.forEach((file) => {
					if (file) {
						dataTransfer.items.add(file);
					}
				});

				return dataTransfer.files;
			}

			function renderFiles() {
				let zoneDrop = document.getElementById("zone-drop");
				zoneDrop.innerHTML = "";

				for (let i = 0; i < files.length; i++) {
					let fileItem = document.createElement("div");
					fileItem.setAttribute("draggable", "true");
					fileItem.classList.add("file-item");

					let headerItem = document.createElement("div");
					headerItem.classList.add("header-item");

					let imgItem = document.createElement("div");
					imgItem.classList.add("img-item");

					let footerItem = document.createElement("div");
					footerItem.classList.add("footer-item");

					zoneDrop.appendChild(fileItem);
					fileItem.appendChild(headerItem);

					headerItem.innerHTML = `
                        <p>${files.item(i).name}</p>
                    `;

					let img = document.createElement("img");
					img.src = URL.createObjectURL(files.item(i));
					img.alt = files.item(i).name;

					imgItem.appendChild(img);
					fileItem.appendChild(imgItem);

					fileItem.appendChild(footerItem);
					footerItem.innerHTML = `
                        <button class="delete-file">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    `;
				}
			}

			const filesContainer = document.querySelectorAll("#zone-drop");
			const sortable = new Draggable.Sortable(filesContainer, {
				draggable: ".file-item",
			});

			sortable.on("sortable:stop", (e) => {
				const old_index = e.data.oldIndex;
				const new_index = e.data.newIndex;

				files = updateFileArray({ array: files, old_index, new_index });
                input.files = files
			});
		</script>
	</body>
</html>
