<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/admin/head.ejs') %>
	</head>
	<body>
		<div class="panel">
			<%- include('../../partials/admin/sidebar.ejs') %>
			<main>
				<%- include('../../partials/admin/navbar.ejs') %>
				<div class="contenedor solicitudes">
					<h1>Solicitud de autor</h1>
					<div class="usuarios">
						<div class="usuario">
							<figure>
								<img
									src="<%- request.user.image %>"
									alt="<%- request.book.title %>"
									loading="lazy"
									class="img-perfil"
								/>
							</figure>
							<p class="username">
								<%- request.user.username %>
								<span class="date">
									(<%- format(request.date) %>)
								</span>
							</p>
						</div>

						<div class="contenido">
							<div class="fila">
								<h3>Título del libro</h3>
								<p><%- request.book.title %></p>
							</div>
							<div class="fila">
								<h3>Descripción</h3>
								<p><%- request.description %></p>
							</div>
							<div class="fila imagen">
								<h3>Portada</h3>
								<img src="<%- request.book.image %>" alt="<%- request.book.title %>">
							</div>
							<form class="botones" method="POST" action="/panel/requests/<%- request.id %>/approve">
								<a href="/panel/requests" class="cancelar">
									<i class="fa-solid fa-arrow-left"></i>
									Volver
								</a>
								<input type="text" value="<%- request.user.email %>" name="userEmail" hidden>
								<input type="text" value="<%- request.user.id %>" name="userId" hidden>
								<div class="accionadores">
									<button class="declinar">
										<i class="fa-solid fa-times"></i>
										Rechazar
									</button>
									<button class="confirmar">
										<i class="fa-solid fa-check"></i>
										Aceptar
									</button>
								</div>
							</form>

							<form class="declinarSolicitud hidden" method="POST" action="/panel/requests/<%- request.id %>/decline">
								<h3>Rechazar solicitud.</h3>
								<textarea name="declineMessage" placeholder="Escribe aquí tu mensaje..."></textarea>
								<input type="text" value="<%- request.user.email %>" name="userEmail" hidden>
								<div>
									<button class="cancelar">
										<i class="fa-solid fa-trash"></i>
										Cancelar
									</button>
									<button type="submit" class="enviar">
										<i class="fa-solid fa-paper-plane"></i>
										Rechazar
									</button>
								</div>
							</form>
						</div>
                    </div>
				</div>
			</main>
		</div>

		<script>
			const botonesContainer = document.querySelector('.botones')
			const botonCancelar = document.querySelector('.declinar')
			const botonCancelarSolicitud = document.querySelector('.declinarSolicitud .cancelar')

			const declinarSolicitud = document.querySelector('.declinarSolicitud')

			botonCancelarSolicitud.addEventListener('click', (e) => {
				if(!declinarSolicitud.classList.contains('hidden')) {
					botonesContainer.classList.remove('hidden')
					declinarSolicitud.classList.add('hidden')
				}
			})

			botonCancelar.addEventListener('click', async (e) => {
				e.preventDefault()

				const authorId = botonCancelar.getAttribute('data-authorId')

				botonesContainer.classList.add('hidden')
				declinarSolicitud.classList.remove('hidden')
				declinarSolicitud.querySelector('textarea').focus()			
			})
		</script>

		<script src="js/cambiarTema.js"></script>
	</body>
</html>
